<a href="https://colab.research.google.com/github/IyLias/learn-NLP/blob/master/tf_idf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from math import log

docs = [
  '먹고 싶은 사과',
  '먹고 싶은 바나나',
  '길고 노란 바나나 바나나',
  '저는 과일이 좋아요'
]

vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

N = len(docs)

def tf(t,d):
  return d.count(t)


def idf(t):
  df = 0
  for doc in docs:
    if doc.count(t)>0:
      df+=1
  return log(N/(df+1))

def tf_idf(t,d):
  return tf(t,d) * idf(t)



result = []
for i in range(N):
  result.append([])
  d = docs[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tf(t,d))

tf_ = pd.DataFrame(result,columns=vocab)
tf_


result2 = []
for j in range(len(vocab)):
  t = vocab[j]
  result.append(idf(t))

idf_ = pd.DataFrame(result2,index=vocab,columns=['IDF'])
idf_

     IDF
과일이  NaN
길고   NaN
노란   NaN
먹고   NaN
바나나  NaN
사과   NaN
싶은   NaN
저는   NaN
좋아요  NaN